<div class="about-me">
	<h1>About me</h1>
	<p>
		My name is {{ site.fullname }} ({{ site.username }}), I study cybersecurity
		atm while developing software and learning about technology and maths in my
		free time. I mainly focus on backend development, cybersecurity tools,
		malware and game dev for fun. I also enjoy networking, server managment and
		system architecture while always being on the lookout for new and fun
		projects to learn more.
	</p>
</div>

<div class="qualifications">
	<div class="skills">
		<h2>Skills</h2>
		<div class="skill-section">
			<div class="skill-item">
				<h3>Python</h3>
				<div class="skill-bar">
					<div style="width: 95%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Java</h3>
				<div class="skill-bar">
					<div style="width: 70%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Bash</h3>
				<div class="skill-bar">
					<div style="width: 70%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>C++/C</h3>
				<div class="skill-bar">
					<div style="width: 55%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Javascript</h3>
				<div class="skill-bar">
					<div style="width: 50%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>HTML/CSS</h3>
				<div class="skill-bar">
					<div style="width: 50%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Rust</h3>
				<div class="skill-bar">
					<div style="width: 40%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Ruby</h3>
				<div class="skill-bar">
					<div style="width: 30%;"></div>
				</div>
			</div>
			<div class="skill-item">
				<h3>Lua</h3>
				<div class="skill-bar">
					<div style="width: 30%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="education">
		<h2>Education</h2>
		<div class="education-section">
			<div class="education-item">
				<h3><a href="https://www.uio.no/english/">University of Oslo</a></h3>
				<div></div>
				<a></a>
				<p><i class="icon fa fa-university"></i>Study: <a href="https://www.uio.no/studier/program/informatikk-aarsenhet/">Informatics (Year unit)</a></p>
				<p><i class="icon fa fa-calendar"></i>Duration: 2021-2022</p>
				<p><i class="icon fa fa-graduation-cap"></i>Status: Graduated</p>
			</div>
			<div class="education-item">
				<h3><a href="https://www.kristiania.no/en/">Kristiania</a></h3>
				<div></div>
				<a></a>
				<p><i class="icon fa fa-university"></i>Study: <a href="https://www.kristiania.no/studier/bachelor/cybersikkerhet/">Cybersecurity (Bachelor)</a></p>
				<p><i class="icon fa fa-calendar"></i>Duration: 2022-2025</p>
				<p><i class="icon fa fa-graduation-cap"></i>Status: Ongoing</p>
			</div>
		</div>
	</div>
</div>