<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<h3 class="section-subheading text-muted">Here is some information about me.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/about/1.png" alt="timeline image">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="subheading">2021-2022</h4>
								<h4 class="subheading">Informatics Yearunit</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">I studied informatics for 1 year at the University in Oslo. There I took programming in python and java, statistics and logical methods. I graduated in the summer of 2022.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/about/2.png" alt="timeline image">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="subheading">2022-Today</h4>
								<h4 class="subheading">Cybersecurity Bachelor</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">I am currently studying cybersecurity at Kristiania. Here I am learning about programming, networking, web development, cryptography, operating systems and pentesting.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/about/3.png" alt="timeline image">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>