<div class="container about">
	<div class="container-intro">
		<h1>About</h1>
		<p>Here is some information about me</p>
	</div>
	<div class="timeline">
		<div class="timeline-item-inverted">
			<div class="timeline-panel">
				<h4>2021-2022</h4>
				<h3>Informatics for a year</h3>
				<p>
					I studied informatics for 1 year at the University in Oslo.
					There I took programming in python and java, statistics and
					logical methods. I graduated in the summer of 2022.
				</p>
			</div>
			<img class="timeline-image" src="/assets/images/timeline/informatics.png" alt="informatics">
			<div class="timeline-panel"></div>
		</div>
		<div class="timeline-item">
			<div class="timeline-panel">
				<h4>2021-Today</h4>
				<h3>Cybersecurity Bachelor</h3>
				<p>
					I am currently studying cybersecurity at Kristiania. Here I
					am learning about programming, networking, web development,
					cryptography, operating systems and pentesting. 
				</p>
			</div>
			<img class="timeline-image" src="/assets/images/timeline/cybersecurity.png" alt="cybersecurity">
			<div class="timeline-panel"></div>
		</div>

		<div class="timeline-item-inverted">
			<div class="timeline-panel">
				<h3>Wonder what happens next</h3>
			</div>
			<img class="timeline-image" src="/assets/images/timeline/future.png" alt="cybersecurity">
			<div class="timeline-panel"></div>
		</div>
	</div>
</div>