<div class="container projects">
	<h1 class="page-title">Projects</h1>
	<div class="showcase">
		<article class="project">
			<a href="https://github.com/Serphyus/Rotation-Trigonometry">
				<img src="/assets/images/projects/showcase_banner_0.png" alt="Rotation-Trigonometry">
				<h2>Rotation-Trigonometry</h2>
				<p>Game dev</p>
			</a>
		</article>
		<article class="project">
			<a href="https://github.com/Serphyus/Raycaster">
				<img src="/assets/images/projects/showcase_banner_1.png" alt="Rotation-Trigonometry">
				<h2>Raycaster</h2>
				<p>Game dev</p>
			</a>
		</article>
		<article class="project">
			<a href="https://github.com/Serphyus/Centox">
				<img src="/assets/images/projects/showcase_banner_2.png" alt="Rotation-Trigonometry">
				<h2>Centox</h2>
				<p>Cybersecurity Tool</p>
			</a>
		</article>
		<article class="project">
			<a href="https://github.com/Serphyus/PyCryptor">
				<img src="/assets/images/projects/showcase_banner_3.png" alt="Rotation-Trigonometry">
				<h2>PyCryptor</h2>
				<p>Cybersecurity Tool</p>
			</a>
		</article>
		<article class="project">
			<a href="https://github.com/Serphyus/Memory-Game">
				<img src="/assets/images/projects/showcase_banner_4.png" alt="Rotation-Trigonometry">
				<h2>Memory Game</h2>
				<p>Minigame</p>
			</a>
		</article>
		<article class="project">
			<a href="https://github.com/Serphyus/Sense-Hat-Games">
				<img src="/assets/images/projects/showcase_banner_5.png" alt="Rotation-Trigonometry">
				<h2>Sense Hat Games</h2>
				<p>Minigames</p>
			</a>
		</article>
	</div>
</div>