<section id="skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Skills</h2>
				<h3 class="section-subheading text-muted">Here are some of my personal skills.</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-server fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="skills-heading">Networking</h4>
				<p class="text-muted">I can configure and set up networks. I have experience setting up servers in the past and enjoy maintaining and understanding network architecture.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="skills-heading">Software Development</h4>
				<p class="text-muted">I enjoy developing software (preferably backend) and are experienced in multiple languages including python, java, javascript, c/c++, rust, bash and more.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="skills-heading">Cybersecurity</h4>
				<p class="text-muted">I am facinated by technology and love discovering their weaknesses. I enjoy developing tools for pentesting and discovering vulnerabilities in systems.</p>
			</div>
		</div>
	</div>
</section>