@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700;800');

html {
	scroll-behavior: smooth;
}

html, html[data-theme="light"] { 
	--text-light: rgba(224, 224, 224, 0.9);
	--primary-dark: rgba(17, 16, 22, 1);
	--secondary-dark: rgba(29, 28, 44, 0.8);
	--bg-light: rgba(224, 224, 224, 0.3);
	--bg-btn: rgba(224, 224, 224, 1); 
	--bg-btn-hover: rgba(204, 204, 204, 1);
}

html[data-theme="dark"] {
	--text-light: rgba(29, 28, 44, 0.8);
	--primary-dark: rgba(224, 224, 224, 1);
	--secondary-dark: rgba(224, 224, 224, 0.8);
	--bg-light: rgba(17, 16, 22, 1);
	--bg-btn: rgba(29, 28, 44, 1); 
	--bg-btn-hover: rgba(75, 72, 112, 1);
}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--text-light: rgba(29, 28, 44, 0.8);
		--primary-dark: rgba(224, 224, 224, 1);
		--secondary-dark: rgba(224, 224, 224, 0.8);
		--bg-light: rgba(17, 16, 22, 1);
		--bg-btn: rgba(29, 28, 44, 1); 
		--bg-btn-hover: rgba(75, 72, 112, 1);
	}
	
	html[data-theme="light"] {
		--text-light: rgba(224, 224, 224, 0.9);
		--primary-dark: rgba(17, 16, 22, 1);
		--secondary-dark: rgba(29, 28, 44, 0.8);
		--bg-light: rgba(224, 224, 224, 0.3);
		--bg-btn: rgba(224, 224, 224, 1); 
		--bg-btn-hover: rgba(204, 204, 204, 1);
	}
};

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	background-color: var(--bg-light);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	background-color: var(--bg-light);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Darker Grotesque", sans-serif;
	font-weight: 800;
	color: var(--primary-dark);
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 28px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

p {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: var(--secondary-dark);
}