.header {
	width: 88%;
	margin: 20px auto 35px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.site-title {
	width: 30%;
	text-align: left;
}

.navigator {
	width: 30%;
	display: flex;
	justify-content: center;
	a {
		margin: 0 25px 0 25px;
		text-decoration: none;
	}
}

.theme-toggle-container {
	width: 30%;
	height: 45px;
	display: flex;
	justify-content: right;
}

.theme-btn {
	position: absolute;
	width: 45px;
	height: 45px;
	display: flex;
	border-radius: 50%;
	cursor: pointer;
	ion-icon {
		margin: auto;
		font-size: 22px;
	}
}

html[data-theme="dark"] {
	.light-toogle {
		visibility: visible;
	}
	.dark-toggle {
		visibility: hidden;
	}
}

html[data-theme="light"] {
	.light-toogle {
		visibility: hidden;
	}
	.dark-toggle {
		visibility: visible;
	}
}

.dark-toogle {
	color: var(--primary-dark);
	background-color: var(--bg-btn);
}

.dark-toogle:hover {
	background-color: var(--bg-btn-hover);
}

.light-toogle {
	color: var(--primary-dark);
	background-color: var(--bg-btn);
}

.light-toogle:hover {
	background-color: var(--bg-btn-hover);
}
