.container {
	width: 90%;
	padding-left: 15%;
	padding-right: 15%;
	max-width: 1250px;
	margin: 75px auto 175px auto;
}

.container-intro {
	width: 100%;
	text-align: center;
	* {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 60px;
	}
	margin-bottom: 40px;
}

.container-description {

}