@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700;800");
html {
  scroll-behavior: smooth; }

html, html[data-theme="light"] {
  --text-light: rgba(224, 224, 224, 0.9);
  --primary-dark: rgba(17, 16, 22, 1);
  --secondary-dark: rgba(29, 28, 44, 0.8);
  --bg-light-primary: rgba(255, 255, 255, 1);
  --bg-light-secondary: rgba(247, 247, 247, 1);
  --bg-btn: rgba(224, 224, 224, 1);
  --bg-btn-hover: rgba(204, 204, 204, 1); }

html[data-theme="dark"] {
  --text-light: rgba(29, 28, 44, 0.9);
  --primary-dark: rgba(224, 224, 224, 1);
  --secondary-dark: rgba(224, 224, 224, 0.8);
  --bg-light-primary: rgba(17, 16, 22, 1);
  --bg-light-secondary: rgb(30, 28, 39);
  --bg-btn: rgba(29, 28, 44, 1);
  --bg-btn-hover: rgba(75, 72, 112, 1); }

@media (prefers-color-scheme: dark) {
  html, html[data-theme="dark"] {
    --text-light: rgba(29, 28, 44, 0.9);
    --primary-dark: rgba(224, 224, 224, 1);
    --secondary-dark: rgba(224, 224, 224, 0.8);
    --bg-light-primary: rgba(17, 16, 22, 1);
    --bg-light-secondary: rgb(30, 28, 39);
    --bg-btn: rgba(29, 28, 44, 1);
    --bg-btn-hover: rgba(75, 72, 112, 1); }

  html[data-theme="light"] {
    --text-light: rgba(224, 224, 224, 0.9);
    --primary-dark: rgba(17, 16, 22, 1);
    --secondary-dark: rgba(29, 28, 44, 0.8);
    --bg-light-primary: rgba(255, 255, 255, 1);
    --bg-light-secondary: rgba(237, 237, 241, 1);
    --bg-btn: rgba(224, 224, 224, 1);
    --bg-btn-hover: rgba(204, 204, 204, 1); } }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  background-color: var(--bg-light-primary); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  color: var(--primary-dark); }

h1 {
  font-size: 36px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: var(--secondary-dark); }

.header {
  width: 88%;
  margin: 20px auto 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.site-title {
  width: 30%;
  text-align: left; }

.navigator {
  width: 30%;
  display: flex;
  justify-content: center; }
  .navigator a {
    margin: 0 25px 0 25px;
    text-decoration: none; }

.theme-toggle-container {
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: right; }

.theme-btn {
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  cursor: pointer; }
  .theme-btn ion-icon {
    margin: auto;
    font-size: 22px; }

html[data-theme="dark"] .light-toogle {
  visibility: visible; }
html[data-theme="dark"] .dark-toggle {
  visibility: hidden; }

html[data-theme="light"] .light-toogle {
  visibility: hidden; }
html[data-theme="light"] .dark-toggle {
  visibility: visible; }

.dark-toogle {
  color: var(--primary-dark);
  background-color: var(--bg-btn); }

.dark-toogle:hover {
  background-color: var(--bg-btn-hover); }

.light-toogle {
  color: var(--primary-dark);
  background-color: var(--bg-btn); }

.light-toogle:hover {
  background-color: var(--bg-btn-hover); }

.container {
  width: 90%;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 1250px;
  padding: 25px 0 25px 0;
  margin: 40px auto 40px auto; }

.page-title {
  width: 100%;
  font-size: 60px;
  text-align: center; }

.introduction {
  display: flex;
  justify-content: space-between; }

.introduction-img {
  width: 40%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 10px var(--secondary-dark);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

.introduction-text {
  width: 50%;
  padding-bottom: 40px;
  margin-top: auto;
  margin-bottom: auto; }
  .introduction-text h1 {
    font-size: 72px;
    line-height: 1; }
  .introduction-text p {
    font-size: 18px;
    line-height: 1.7; }

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.project {
  max-width: 25%;
  margin: 2.5%;
  transition: transform .2s ease-in-out;
  background-color: var(--bg-light); }
  .project img {
    border: 2px solid var(--secondary-dark);
    width: 100%;
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: hidden; }
  .project * {
    text-align: center;
    text-decoration: none; }
  .project h2, .project p {
    margin: 10px; }

.project:hover {
  transform: scale(1.02); }

.footer {
  border-top: 2px solid var(--text-light);
  width: 100%;
  display: flex;
  justify-content: space-between; }

.copyright-text {
  height: 100px;
  margin: auto 10px auto 10px; }

.top-btn {
  background-color: var(--bg-btn);
  border-radius: 10px;
  margin: auto 10px auto 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .top-btn ion-icon {
    color: var(--primary-dark);
    font-size: 22px;
    height: inherit; }

.top-btn:hover {
  background-color: var(--bg-btn-hover); }
